.custom-header__wrapper {
  .header-layout {
    gap: 12.5px;
  }
  .site-nav__item .site-nav__link {
    font-size: 13px;
    line-height: 120%;
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    font-weight: 600;
    letter-spacing: 0.7px;
    text-shadow: 0 0 black;
    padding: 15px;
  }
  .site-header__search {
    position: relative;
    width: 100%;
    transform: unset;
    bottom: unset;
    z-index: 1;
    width: 800px;
    background: inherit;
    box-shadow: unset;
    @media (max-width: 1299px) {
      width: 100%;
      max-width: 800px;
      padding: 0 30px;
    }
    @media (max-width: 768px) {
      padding: 0 15px;
    }
  }
  .site-header__search--container .site__header-wrap {
    width: 100%;
  }
  .header-item.header-item--navigation {
    flex-direction: column;
    gap: 0;
    justify-content: center;
  }
  .site-header__search--container .search__input {
    border-radius: 50px;
    background-color: #ebebeb;
    border: 0px;
  }
  .site-header__search--container .icon {
    height: 25px;
    width: 25px;
  }
  .predictive__screen {
    height: unset;
  }
  .svg.icon-search path {
    stroke-width: 2px !important;
  }
  .header__toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    ul {
      position: absolute;
      left: -10px;
      background-color: #fff;
      padding: 20px 20px 5px;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
      display: none;
      top: 100%;
      flex-direction: column;
    }
    &:hover ul {
      display: flex;
    }
  }

  .header__toolbar li a {
    padding: 0;
    margin: 0 0 12px;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #292929;
    line-height: 1.2;
  }
  .header__toolbar svg.icon circle {
    fill: unset !important;
  }
  .site-nav__icons {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1299px) {
  .custom-header__wrapper {
    .small--hide {
      display: none;
    }
    .medium-up--hide {
      display: block !important;
    }
    .site-nav__link--icon,
    .site-nav__link {
      padding-left: 9px;
      padding-right: 9px;
    }
  }
  .mobile-nav__social {
    position: relative;
    bottom: 0;
    background: #fff;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    box-shadow: unset;
    padding: 7.5px 0 0;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    @media (max-width: 768px) {
      position: fixed;
      box-shadow: 0 0 1px #000;
    }
    li {
      flex: 0 0 calc(100% / 8);
      border: 0;
      a {
        display: block;
        padding: 7px;
      }
    }
  }
}
@media (min-width: 1300px) {
  .custom-header__wrapper {
    .site-nav__dropdown.megamenu {
      background: transparent;
      padding: 0;
    }
    .mega-menu__main_nav_botttombar {
      padding: 20px 40px 40px;
    }
    .mega__menu-container {
      box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 20px;
      padding: 0px;
      border-radius: 0px 0px 20px 20px;
      max-height: 80vh;
      overflow: auto;
      background: #fff;
    }
    .mega__menu-wrapper {
      display: grid;
      grid-template-columns: 1fr 6fr;
    }
    .mega-menu__main_nav {
      display: flex;
      margin: 0;
      gap: 8px;
      justify-content: start;
      .grid__item {
        width: auto;
        flex: 0 0 calc(20% - 8px);
      }
    }
    .mega-menu__main_nav .h5 {
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 13px;
      letter-spacing: 0.7px;
    }
    .mega-menu__main_nav .site-nav__dropdown-link {
      color: #292929;
      margin-bottom: 4px;
    }
    .mega__side-nav {
      background-color: rgb(37, 37, 37);
      padding: 20px 40px;
      margin: 0px;
    }
    .mega__side-nav a.h5 {
      font-weight: 700;
      margin-bottom: 20px;
      padding: 4px 0;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0px;
      color: #fff;
      background: unset;
      transition: color 0.15s;
    }
    .mega__side-nav a.h5:hover {
      color: rgb(255, 255, 0);
    }
    .mega_img-btn {
      flex: 0 0 20%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        -webkit-box-shadow: -1px 2px 19px 8px rgba(0, 0, 0, 0.28);
      }
      a {
        position: absolute;
        background: inherit;
        bottom: 20px;
        left: 20px;
      }
    }
    .megamenu__bottombar {
      padding: 10px 0;
      display: block;
      a {
        margin-right: 10px;
        background-color: transparent;
        text-transform: capitalize;
        display: inline-flex;
        column-gap: 7px;
        align-items: center;
        background-color: #e6e6e6;
        border-radius: 50px;
        padding: 7px 15px;
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 768px) {
  .header-item.header-item--icons.mobile_only {
    flex: 0 0 max-content;
  }
  predictive-search form {
    margin: 0;
    input::placeholder {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .header-item__icons_toolbar.header-item--icons {
    padding-top: 10px;
  }
  .header-item__icons_toolbar .site-nav__icons {
    display: flex;
    flex-direction: column;
  }
  .header__toolbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    cursor: pointer;
    position: relative;
    ul {
      position: relative;
      left: 0;
      background-color: #fff;
      padding: 20px 20px 5px;
      box-shadow: unset;
      display: flex;
      top: 100%;
      flex-direction: column;
    }
    &:hover ul {
      display: flex;
    }
  }

  .header__toolbar li a {
    padding: 0;
    margin: 0 0 12px;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #292929;
    line-height: 1.2;
  }
  .header__toolbar_intro {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .toolbar__menu_wrapper {
    /* max-height: 110px; */
    max-height: 0;
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    transition: 0.4s;
    scrollbar-width: thin;
  }
  .header__toolbar.active .toolbar__menu_wrapper {
    max-height: 110px;
  }
  .header-item__icons_toolbar .site-nav__link svg {
    height: 24px;
    width: 24px;
  }
  .toolbar_icon svg {
    stroke: #00000000;
    width: 18px !important;
    height: 24px !important;
  }
  .header-item__icons_toolbar .down_arrow_icon svg {
    padding: 5px;
    transition: rotate 0.4s;
  }
  .header__toolbar.active .down_arrow_icon svg {
    rotate: -180deg;
  }
  .header-item__icons_toolbar .site-nav__link {
    font-size: 12px;
    margin: 0;
    color: #292929;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header__toolbar.site-nav__link.support,
  .header__toolbar.site-nav__link.js-drawer-open-cart {
    align-items: start;
  }
  .header-item__icons_toolbar .cart-link {
    display: flex;
    position: relative;
    align-items: center;
    gap: 8px;
  }
  .toolbar_icon {
    margin-right: 8px;
  }
}
